<header>

  <section class="top-menu">

    <section class="homelogo">
      <a href="/">
        <img src="/images/petnolzaLogo.png" class="homelogo">
      </a>
    </section>

    <section class="navigator">
      
      <nav>
        
        <a href="room/roomList">객실관리</a>
        
        <a href="community/noticeList">커뮤니티</a>
        
        <a href="member/memberMana">회원관리</a>
        
        <a href="reservation/memberRe">회원예약정보</a>
        
        <a href="mtm/qna">1:1 문의</a>

        <a href="#">알리미</a>
        
      </nav>

    </section>

    <section class="login-area">
      
      <a href="#">로그아웃</a>

    </section>
    

  </section>

</header>