<!-- 로그인 상태 탑메뉴 -->
<th:block th:unless="${session.loginMember == null}">

  <section class="top-menu" id="top-menu">

    <section class="homelogo">
      <a href="/">
        <img src="/images/petnolzaLogo.png" class="homelogo">
      </a>
    </section>

    <section class="navigator">
      
      <nav>
        
        <a href="/reserve/reserveList">객실예약</a>
        
        <a href="/announcement/announcementList">공지사항</a>
        
        <a href="/main/qna">자주묻는 질문</a>
        
        <a href="/main/service">서비스</a>
        
        <a href="/main/route">오시는 길</a>
        
      </nav>

    </section>

    <section class="login-area">
      <a href="/member/logout">로그아웃</a>

      <span>|</span>

      <a href="/mypage/memberUpdate">마이페이지</a>
    </section>
    

  </section>

</th:block>

<!-- 로그아웃 상태 탑메뉴 -->

<th:block th:if="${session.loginMember == null}">

  <section class="top-menu" id="top-menu">

    <section class="homelogo">
      <a href="/">
        <img src="/images/petnolzaLogo.png" class="homelogo">
      </a>
    </section>

    <section class="navigator">
      
      <nav>
        
        <a href="#">객실예약</a>
        
        <a href="#">공지사항</a>
        
        <a href="#">자주묻는 질문</a>
        
        <a href="#">서비스</a>
        
        <a href="#">오시는 길</a>
        
      </nav>

    </section>

    <section class="login-area">
      <a href="/member/login">로그인</a>

      <span>|</span>

      <a href="/member/join">회원가입</a>
    </section>
    
  </section>
</th:block>