<header>

  <section class="top-menu" id="top-menu">

    <section class="homelogo">
      <a href="/">
        <img src="/images/petnolzaLogo.png" class="homelogo">
      </a>
    </section>

    <section class="navigator">
      
      <nav>
        
        <a href="#">객실예약</a>
        
        <a href="#">공지사항</a>
        
        <a href="#">자주묻는 질문</a>
        
        <a href="#">서비스</a>
        
        <a href="#">오시는 길</a>
        
      </nav>

    </section>

    <section class="login-area">
      <a href="/member/login">로그아웃</a>

      <span>|</span>

      <a href="/mypage/memberUpdate">마이페이지</a>
    </section>
    

  </section>

</header>