/* 평점 */
.star_y {
    color : #fee500;
}

.star_n {
    color : #bbbbbb;
}

/* 후기 상세 테이블*/
.reviewTable {
    width: 100%;
}

.reviewTable th {
    text-align: left;
}

/* 버튼 */
.btn-area, .wbtn-area {
    display: flex;
    justify-content: flex-end;
}

.btn-area button, .wbtn-area button  {
    margin-left: 5px;
}

/*댓글*/
.comment th {
    border-top: 1px solid #666666;
    margin-top: 10px;
}

.arrow {
    margin-left: 20px;
}

/* 댓글 내용 */
.commentIns {
    display: flex;
}

.commentIns .content-area  {
    height: 80px;
    width: 90%;
}

.commentIns .btn-area {
    width: 10%;
}

.commentIns button {
    height: 85px;
    width: 100%;
    margin-top: 10px;
}


/*평점주기*/
.commentStar {
    display: flex;
    flex-direction: row-reverse; /*실제로 보여지는건 1~5순이기 때문에 flex-direction: row-reverse로 순서를 뒤집어줌*/
    justify-content: flex-end;
}

.commentStar input[type=radio] {
    display: none;
}   

.commentStar label {
    color: transparent;
    text-shadow: 0 0 0 #bbbbbb;
    font-size: large;
    margin-right: 10px;
}

.commentStar label:hover{
    text-shadow: 0 0 0 #fee500;
}

.commentStar label:hover ~ label{
    text-shadow: 0 0 0 #fee500;
}

.commentStar input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #fee500;
}

