
/* 첨부파일 부분 */
.attachmentFileDiv {
    display: flex;
    justify-content: flex-end;
}

.attachmentFileDiv div {
    margin: 0 10px;
    width: 200px;
    border-bottom: 1px solid #666666;
    padding: 10px 0;
}

/* 게시글 내용 */
.board-content-div {
    border: 1px solid #666666;
    padding: 15px;
}


/* 게시판 중간메뉴 */
.middle-menu {
    width: 60%;
    margin: auto;
    height: 50px;
}
.middle-menu div {
    margin: 0;
    padding: 0;
    border: 1px solid #666666;
    display: inline-block;
    width: 48%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}
.middle-menu-current {
    font-weight: bold;
    background-color: #00abe8;
    color: white !important;
    letter-spacing: 0 !important;
}