<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        

        section.max-container {
            width: 100%;
            align-items: center;
            padding: 0 15px;
        }

        section.max-container > .btn-area {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }

    </style>
    
    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>

    <section class="topContainer">
        <th:block th:replace="~{menu/topMenu}"></th:block>
        <th:block th:replace="~{menu/sideMenu}"></th:block>

        <section class="container">

            <h2>회원 예약 정보</h2>

            <div>
                <table class="board-area">
                    <thead>
                    
                        <th>예약번호</th>
                        <th>예약자</th>
                        <th>객실</th>
                        <th>예약시작일</th>
                        <th>예약종료일</th>
                        <th>가격</th>
                        <th>상태</th>
                        <th>서비스</th>
                        <!--<th>알리미</th>-->
                    
                    </thead>

                    <tbody>

                        <th:block th:if="${#lists.isEmpty(reserveList)}">
                            <tr>
                                <td colspan="8">게시글이 존재하지 않습니다.</td>
                            </tr>
                        </th:block>

                        <th:block th:unless="${#lists.isEmpty(reserveList )}">
                            <tr th:each="reserve : ${reserveList}" th:object="${reserve}">
                                <td th:text="*{reserveNo}">5</td>
                                <td th:text="*{reserveUser}">홍길동</td>
                                <td th:text="*{roomName}">객실1</td>
                                <td th:text="*{reserveStart}">2024-01-05</td>
                                <td th:text="*{reserveEnd}">2024-01-07</td>
                                <td th:text="*{reservePrice}">70000</td>
                                <td th:text="*{status}" 
                                    th:class="*{status eq '미결제'} ? notPay : (*{status eq '결제완료'} ? payComplete : (*{status eq '이용완료'} ? useComplete : ''))"
                                    class="" >미결제</td>
                                <td>
                                    <div>
                                        <select>
                                            <th:block th:each="service : *{serviceName}">
                                                <option th:text="${service}">산책</option>
                                            </th:block>
                                        </select>
                                    </div>
                                </td>
                                <!--<td><button>등록</button></td>-->
                            </tr>
                        </th:block>

                    </tbody>
                </table>

                <div th:unless="${#lists.isEmpty(reserveList )}" class="pagination-area">
        
                    <ul class="pagination" th:object="${pagination}">
    
                        <!-- 첫 페이지로 이동 -->
                        <li><a th:href="@{/reservation/memberRe(cp=1)}">&lt;&lt;</a></li>
    
                        <!-- 이전 목록 마지막 번호로 이동 -->
                        <li><a th:href="@{/reservation/memberRe(cp=*{prevPage})}">&lt;</a></li>
    
                        <!-- 특정 페이지로 이동 -->
                        <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                            
                        <!-- 현재 보고있는 페이지 -->
                            <li th:if="${i} == *{currentPage}">
                                <a class="current" th:text="${i}">1</a>
                            </li>
                            
                            <!-- 보고있지 않은 페이지 -->
                            <li th:unless="${i} == *{currentPage}">
                                <a th:text="${i}">2</a>
                            </li>
    
                        </th:block>
    
                        <!-- 다음 목록 시작 번호로 이동 -->
                        <li><a th:href="@{/reservation/memberRe(cp=*{nextPage})}">&gt;</a></li>
    
                        <!-- 끝 페이지로 이동 -->
                        <li><a th:href="@{/reservation/memberRe(cp=*{maxPage})}">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>

            <form action="memberRe" method="get" class="inputForm searchForm">
                <select name="key">
                    <option value="room">객실</option>
                    <option value="user">예약자</option>
                </select>
                <input name="keyword" placeholder="검색어를 입력해주세요">
                <div class="btn-area">
                    <button class="grey-btn">검색</button>
                </div>
            </form>
    
        </section>

        <th:block th:replace="~{menu/footer}"></th:block> <!-- 풋터 -->
    </section>
    
</body>
</html>