<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        

        section.small-container {
            width: 50%;
            align-items: center;
            padding: 0 30px;
        }

        section.small-container > .btn-area {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }

        .container2 {  /*240429 은별 추가(임시 CSS)*/
            flex-direction: row;
            margin: 10% 20%;
            display: flex;
        }

        .inputForm input{

            background-color: #DFDFDF;
            font-size: 20px;

        }


    </style>
    
    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>

    <th:block th:replace="~{menu/topMenu}"></th:block>
    <th:block th:replace="~{menu/sideMenu}"></th:block>

    <section class="container2">

        <section class="small-container" style="border-right: 1px dotted black;">
            <h2>회원 상세 정보</h2>

            <div class="inputForm">
                <label>회원번호</label>
                <input th:value="${memberNo}" readonly>
            </div>

            <div class="inputForm">
                <label>이메일</label>
                <input th:value="${member.memberEmail}" readonly>
             </div>

            <div class="inputForm">
                <label>이름</label>
                <input th:value="${member.memberName}" readonly>
            </div>

            <div class="inputForm">
                <label>닉네임</label>
                <input th:value="${member.memberNickname}" readonly>
             </div>
            
             <div class="inputForm">
                <label>전화번호</label>
                <input th:value="${member.memberTel}" readonly>
             </div>
             
             <div class="inputForm">
                <label>가입일</label>
                <input th:value="${member.enrollDate}" readonly>
             </div>
             
             <div class="inputForm">
                <label>탈퇴여부</label>
                <input th:value="${member.memberDelFl}" readonly>
             </div>

             <div class="inputForm">
                <label>주소</label>
                <th:block th:unless="${member.memberAddr==null}">
                    <input th:value="${postcode}" readonly>
                    <input th:value="${address}" readonly>
                    <input th:value="${detailAddress}" readonly>
                </th:block>

                <div class="inputForm" th:if="${member.memberAddr==null}">
                    <input type="text" th:value="|등록된 주소가 없습니다.|" readonly>
                </div>
             </div>

             <div class="btn-area">
                <button type="button" th:if="${member.memberDelFl.equals('N')}" class="grey-btn" id="withdrawal">회원 탈퇴</button>
                <button type="button" th:if="${member.memberDelFl.equals('Y')}" class="grey-btn" id="rejoin">회원 탈퇴 복구</button>
                <button type="button" th:if="${member.codeNo.equals('NORMAL')}" class="grey-btn" id="alterAdmin">관리자로 변경</button>
                <button type="button" th:if="${member.codeNo.equals('ADMIN')}" class="grey-btn" id="alterNormal">일반 회원으로 변경</button>
             </div>

        </section>


        <section class="small-container">
            <h2>예약 내역</h2>

            <div>
                <table class="board-area">
                    <thead>
                    
                        <th>번호</th>
                        <th>객실</th>
                        <th>예약일</th>
                        <th>후기여부</th>
                    
                    </thead>

                    <tbody>

                        <!-- 예약 내역이 있을 때 -->
                        <th:block th:unless="${#lists.isEmpty(reserveList)}">
                            <tr th:each="reserve : ${reserveList}">
                                <td th:text="${reserve.reserveNo}">5</td>
                                <td th:text="${reserve.roomName}">객실2</td>
                                <td th:text="${reserve.reserveDate}">2024-05-04</td>
                                <td th:text="${reserve.reviewCheck}">리뷰여부</td>
                            </tr>
                        </th:block>

                        <!-- 예약 내역이 없을 때 -->
                        <th:block th:if="${#lists.isEmpty(reserveList)}">
                            <tr>
                                <td colspan="4" style="text-align: center !important;">예약 내역이 존재하지 않습니다.</td>
                            </tr>
                        </th:block>

                    </tbody>
                </table>

                <div class="pagination-area">

                    <ul class="pagination" th:object="${pagination}">
    
                        <!-- 첫 페이지로 이동 -->
                        <li><a th:href="@{/member/memberInfo/{memberNo}(memberNo=${memberNo}, cp=1)}">&lt;&lt;</a></li>
    
                        <!-- 이전 목록 마지막 번호로 이동 -->
                        <li><a th:href="@{/member/memberInfo/{memberNo}(memberNo=${memberNo}, cp=*{prevPage})}">&lt;</a></li>
    
                        <!-- 특정 페이지로 이동 -->
                        <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                            
                        <!-- 현재 보고있는 페이지 -->
                            <li th:if="${i} == *{currentPage}">
                                <a class="current" th:text="${i}">1</a>
                            </li>
                            
                            <!-- 보고있지 않은 페이지 -->
                            <li th:unless="${i} == *{currentPage}">
                                <a th:href="@{/member/memberInfo/{memberNo}(memberNo=${memberNo}, cp=${i})}">2</a>
                            </li>
    
                        </th:block>
    
    
    
                        
                        <!-- 다음 목록 시작 번호로 이동 -->
                        <li><a th:href="@{/member/memberInfo/{memberNo}(memberNo=${memberNo}, cp=*{nextPage})}">&gt;</a></li>
    
                        <!-- 끝 페이지로 이동 -->
                        <li><a th:href="@{/member/memberInfo/{memberNo}(memberNo=${memberNo}, cp=*{maxPage})}">&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>

            <!-- 
                <div class="inputForm searchForm">
                    <select>
                        <option>객실</option>
                        <option>예약일</option>
                        <option>리뷰여부</option>
                    </select>
                    <input>
                    <div class="btn-area">
                        <button class="grey-btn">검색</button>
                    </div>
                </div> 
            -->
              

        </section>

        
    </section>
    
    <th:block th:replace="~{menu/footer}"></th:block>

    <script th:inline="javascript">

        const memberNo = /*[[${memberNo}]]*/ "회원번호";
        const memberNickname = /*[[${member.memberNickname}]]*/ "회원 닉네임";

    </script>
    
    <script src="/js/memberInfo.js"></script>
</body>
</html>