<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>
    <link rel="stylesheet" href="/css/login.css"></link>
    <link rel="stylesheet" href="/css/join.css"></link>


</head>
<body>

    <section class="topContainer">
        <th:block th:replace="~{menu/topMenu}"></th:block>

        <section class="mypageContainer">
            <th:block th:replace="~{menu/myPageMenu}"></th:block>

            <th:block th:replace="~{menu/sideMenu}"></th:block>

            <form class="container">
            
                
                <section class="input-area">

                    <div class="inputForm">
                        <label>이메일</label>
                        <input type="text" th:placeholder="${loginMember.memberEmail}" readonly>
                    </div>

                    <form name="login">

                        
                        <div class="inputForm">
                            <label>비밀번호</label>
                            <input type="text">
                        </div>

                        <div class="inputForm">
                            <label>비밀번호 재확인</label>
                            <input type="text">
                        </div>

                        <div class="inputForm">
                            <label>이름</label>
                            <input type="text" th:placeholder="${loginMember.memberName}">
                        </div>

                        <div class="inputForm">
                            <label>닉네임</label>
                            <input type="text" th:placeholder="${loginMember.memberNickname}">
                        </div>

                        <div class="inputForm">
                            <label>전화번호</label>
                            <input type="text" th:placeholder="${loginMember.memberTel}">
                        </div>

                        <div class="inputForm">
                            <label>
                                주소
                            </label>
                            <div>
                                <input type="text" name="memberAddress" placeholder="우편번호" id="postcode">
                                <button  type="button" class="greyBtn" id="searchAddress">우편번호 찾기</button>
                            </div>
                            <input type="text" name="memberAddress" placeholder="도로명/지번 주소" id="address">
                            <input type="text" name="memberAddress" placeholder="상세주소" id="detailAddress">
                        </div>

                        <div class="login-btn-area">
                            <button class="login-btn">수정하기</button>
                        </div>

                    </form>

                </section>

            </form>
        </section>

        <th:block th:replace="~{menu/footer}"></th:block>
        
    </section>
    

    
</body>
</html>