<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1문의 수정</title>

    <link rel="stylesheet" href="/css/common.css"> <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/review.css"> <!-- 후기 CSS -->
</head>
<body>
    <section class="container" th:object="${mtm}">
        <h2>1:1문의</h2>

        <!--<form action="mtmInsert" method="POST" id="mtmInsert">-->
            <div class="inputForm">
                <label>제목</label>
                <input type="text" id="mtmTitle" name="mtmTitle" th:value="*{mtmTitle}">
            </div>

            <div class="inputForm">
                <label>내용</label>
                <textarea class="content-area" id="mtmContent" name="mtmContent" th:text="*{mtmContent}"></textarea>
            </div>

            <div class="btn-area">
                <button id="mtmSave" class="main-blue">등록</button>
            </div>
        <!--</form>-->
    </section>

    <script>
        
    </script>

    <script th:inline="javascript">
        const mtmNo = /*[[${mtm.mtmNo}]]*/ "1:1문의 번호";
    </script>

    <script src="/js/mypage/mtmUpdate.js"></script>
</body>
</html>