<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1문의 등록</title>

    <link rel="stylesheet" href="/css/common.css"> <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/review.css"> <!-- 후기 CSS -->
</head>
<body>
    <section class="container">
        <h2>1:1문의</h2>

        <form action="mtmInsert" method="POST" id="mtmInsert">
            <div class="inputForm">
                <label>제목</label>
                <input type="text" name="mtmTitle">
            </div>

            <div class="inputForm">
                <label>내용</label>
                <textarea class="content-area" name="mtmContent"></textarea>
            </div>

            <div class="btn-area">
                <button class="main-blue">등록</button>
            </div>
        </form>
    </section>

    <script>
        // 팝업창 닫을 때 딤프레이어 none
        window.addEventListener('beforeunload', function(event) {
            opener.document.getElementById("popOpen").style.display = "none";
        });
    </script>
</body>
</html>