<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>
    <link rel="stylesheet" href="/css/login.css"></link>
    <link rel="stylesheet" href="/css/join.css"></link>

    <style>

        .mypageContainer {
            height: 650px;
        }

    </style>

</head>
<body>

    <section class="topContainer">

        <th:block th:replace="~{menu/topMenu}"></th:block>

        <section class="mypageContainer">

            <th:block th:replace="~{menu/myPageMenu}"></th:block>

            <th:block th:replace="~{menu/sideMenu}"></th:block>

            <section class="container">

                <form action="/mypage/pwUpdate" method="POST" class="input-area" name="pwUpdate" id="pwUpdate">

                    <div class="inputForm">
                        <label>현재 비밀번호</label>
                        <input type="password" name="currPw" id="currPw" maxlength="20">
                    </div>
    
                    <div class="inputForm">
                        <label>새 비밀번호</label>
                        <input type="password" name="newPw" id="newPw" maxlength="20">
                    </div>
        
                    <div class="inputForm">
                        <label>새 비밀번호 확인</label>
                        <input type="password" name="newPwConfirm" id="newPwConfirm" maxlength="20">
                    </div>

                    <br><br>

                    <div class="login-btn-area">
                        <button class="login-btn">비밀번호 변경하기</button>
                    </div>


                </form>


            </section>


        </section>

        <th:block th:replace="~{menu/footer}"></th:block>

    </section>

    <script src="/js/pwUpdate.js"></script>

    
</body>
</html>