<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>예약 내역 확인</title>

    <link rel="stylesheet" href="/css/common.css"> <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/menu.css"></link>
    <link rel="stylesheet" href="/css/mypage.css"></link>
</head>
<body>

    <section class="topContainer">
        <th:block th:replace="~{menu/topMenu}"></th:block>

        <section class="mypageContainer">
            <th:block th:replace="~{menu/myPageMenu}"></th:block>

            <th:block th:replace="~{menu/sideMenu}"></th:block>

            <section class="container">
                <h2>예약 내역 확인</h2>
        
                <div>
                    <table class="board-area">
                        <thead>
                        
                            <th>번호</th>
                            <th>객실</th>
                            <th>예약시작일</th>
                            <th>예약종료일</th>
                            <th>가격</th>
                            <th>상태</th>
                            <th>서비스</th>
                            <th></th>
                        </thead>
        
                        <tbody>

                            <th:block th:if="${#lists.isEmpty(reserveList)}">
                                <tr>
                                    <td colspan="8">게시글이 존재하지 않습니다.</td>
                                </tr>
                            </th:block>

                            <th:block th:unless="${#lists.isEmpty(reserveList )}">
                                <tr th:each="reserve : ${reserveList}" th:object="${reserve}">
                                    <td th:text="*{reserveNo}">5</td>
                                    <td th:text="*{roomName}">객실1</td>
                                    <td th:text="*{reserveStart}">2024-01-05</td>
                                    <td th:text="*{reserveEnd}">2024-01-07</td>
                                    <td th:text="*{reservePrice}">70000</td>
                                    <td th:text="*{status}" 
                                        th:class="*{status eq '미결제'} ? notPay : (*{status eq '결제완료'} ? payComplete : (*{status eq '이용완료'} ? useComplete : ''))"
                                        class="" >미결제</td>
                                    <td>
                                        <div>
                                            <select>
                                                <th:block th:each="service : *{serviceName}">
                                                    <option th:text="${service}">산책</option>
                                                </th:block>
                                            </select>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="wbtn-area">
                                            <th:block th:if="*{status eq '미결제'}">
                                                <button th:onclick="btnClick([[*{reserveNo}]], [[*{roomId}]], '취소')">취소</button>
                                                <button th:onclick="btnClick([[*{reserveNo}]], [[*{roomId}]], '결제')">결제</button>
                                            </th:block>
                                            <th:block th:if="*{status eq '이용완료'}">
                                                <button th:onclick="btnClick([[*{reserveNo}]], [[*{roomId}]], 'R')">후기등록</button>
                                            </th:block>
                                        </div>
                                    </td>
                                </tr>
                            </th:block>
        
                        </tbody>
                    </table>
        
                    <div th:unless="${#lists.isEmpty(reserveList )}" class="pagination-area">
        
                        <ul class="pagination" th:object="${pagination}">
        
                            <!-- 첫 페이지로 이동 -->
                            <li><a th:href="@{/mypage/reserveList(cp=1)}">&lt;&lt;</a></li>
        
                            <!-- 이전 목록 마지막 번호로 이동 -->
                            <li><a th:href="@{/mypage/reserveList(cp=*{prevPage})}">&lt;</a></li>
        
                            <!-- 특정 페이지로 이동 -->
                            <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                                
                            <!-- 현재 보고있는 페이지 -->
                                <li th:if="${i} == *{currentPage}">
                                    <a class="current" th:text="${i}">1</a>
                                </li>
                                
                                <!-- 보고있지 않은 페이지 -->
                                <li th:unless="${i} == *{currentPage}">
                                    <a th:text="${i}">2</a>
                                </li>
        
                            </th:block>
        
                            <!-- 다음 목록 시작 번호로 이동 -->
                            <li><a th:href="@{/mypage/reserveList(cp=*{nextPage})}">&gt;</a></li>
        
                            <!-- 끝 페이지로 이동 -->
                            <li><a th:href="@{/mypage/reserveList(cp=*{maxPage})}">&gt;&gt;</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>
        
        <th:block th:replace="~{menu/footer}"></th:block>
    </section>

    <!-- 딤프레이어 (부모창 비활성화) -->
    <div id="popOpen"></div>

    <script th:inline="javascript">
        const cp = /*[[${pagination.currentPage}]]*/ "현재페이지";
    </script>

    <script src="/js/mypage/reserveList.js"></script>
</body>
</html>