<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기 등록</title>

    <link rel="stylesheet" href="/css/common.css"> <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/review.css"> <!-- 후기 CSS -->
</head>
<body>
    <section class="container">
        <h2>후기 등록</h2>

        <div class="inputForm">
            <label>제목</label>
            <input type="text">
        </div>

        <div class="inputForm">
            <label>내용</label>
            <textarea class="content-area"></textarea>
        </div>

        <!-- 
        <div class="inputForm">
            <label>이미지</label>
            <div class="inputImg">
                <input type="text">
                <div class="btn-area">
                    <button class="grey-btn">첨부파일</button>
                </div>
            </div>
        </div>
         -->
        <div class="inputForm">
            <label>평점</label>
            <div class="commentStar">
                <input type="radio" name="grade" value="5" id="star5"><label for="star5">★</label>
                <input type="radio" name="grade" value="4" id="star4"><label for="star4">★</label>
                <input type="radio" name="grade" value="3" id="star3"><label for="star3">★</label>
                <input type="radio" name="grade" value="2" id="star2"><label for="star2">★</label>
                <input type="radio" name="grade" value="1" id="star1"><label for="star1">★</label>
            </div>
        </div>

        <div class="btn-area">
            <button type="button" class="main-blue" id="insertBtn">등록</button>
            <button class="grey-btn">취소</button>
         </div>
    </section>

    <script src="/js/mypage/reviewWrite.js"></script>
</body>
</html>