<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        

        section.max-container {
            width: 100%;
            align-items: center;
            padding: 0 15px;
        }

        section.max-container > .btn-area {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }

    </style>
    
    <link rel="stylesheet" href="/css/common.css"></link>

</head>
<body>

    <section class="container">

        <section class="max-container">
            <h2>탈퇴하기</h2>

            <div class="inputForm">
                <label>비밀번호</label>
                <input type="text">
            </div>

            <br>
            <div>
                <h4 style="color: red;">탈퇴전 꼭 확인하세요!</h4>
                <ul>
                    <li>법적 문제 발생 시를 대비해 탈퇴 후 1년간 회원님의 정보를 보관합니다.</li>
                    <li>예약한 객실이 있는 경우 예약 취소에 대한 불이익이 발생합니다.</li>
                    <li>삭제된 정보는 복구할 수 없습니다.</li>
                </ul>
            </div>


            <div class="btn-area">
                <button class="main-blue">탈퇴</button>
            </div>

        </section>

    </section>

    
</body>
</html>