<!DOCTYPE html>
<html lang="kr"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        

        section.max-container {
            width: 100%;
            align-items: center;
            padding: 0 15px;
        }

        section.max-container > .btn-area {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }

        .answerRequired {
            color: red;
        }

        .faqListTable {
            border-top: solid;
        }
        .faqListTable tr{
            height: 50px;
        }

    </style>
    
    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/board.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>

<th:block th:replace="~{menu/topMenu}"></th:block>
<th:block th:replace="~{menu/sideMenu}"></th:block>
    <section class="container">

        <section class="max-container">
            <h2>커뮤니티</h2>

            <div class="middle-menu">
                <a th:href="@{noticeList}"></a><div>공지사항</div>
                <a th:href="@{faqList}"></a><div class="middle-menu-current">자주 묻는 질문</div>
            </div>

<br>

            <div>
                <table class="board-area faqListTable">

                    <tbody>

                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>
                        <tr>
                            <td>Q</td>
                            <td>질문</td>
                            <td>이메일 / 비밀번호를 잊어버렸어요</td>
                            <td>관리자</td>
                        </tr>

                    </tbody>
                </table>

                

        </section>

    </section>

    
    <th:block th:replace="~{menu/footer}"></th:block>
    
    
    
</body>
</html>