<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/board.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>

    <section class="topContainer">

        <th:block th:replace="~{menu/topMenu}"></th:block>

        <section class="container">

            <form action="/community/faqRegist" method="POST" name="faqRegist" id="faqRegist">
            
                <h2>자주 묻는 질문 등록</h2>

                <div class="inputForm">
                    <label>질문</label>
                    <input type="text" name="boardTitle" id="boardTitle">
                </div>

                <div class="inputForm">
                    <label>답변</label>
                    <textarea class="content-area" name="boardContent" id="boardContent"></textarea>
                </div>

                <div>
                    <div class="btn-area last-btn-area">
                        <button class="main-blue">등록</button>
                    </div>
                </div>

            </form>

        </section>

        </section>

        <th:block th:replace="~{menu/footer}"></th:block>

    </section>

    <script src="/js/faqRegist.js"></script>
    
</body>
</html>