<!DOCTYPE html>
<html lang="kr"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        
        section.max-container {
            width: 100%;
            align-items: center;
            padding: 0 15px;
        }

        section.max-container > .btn-area {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }
        
        .last-btn-area {
            display: flex;
            justify-content: flex-end;
            margin-top: 20px;
        }

        .last-btn-area button{
            margin: 0 5px;
        }

    </style>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/board.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>
    
    <section class="topContainer">

        <th:block th:replace="~{menu/topMenu}"></th:block>

        <section class="container">
            <h2>공지사항</h2>
            
            <div th:object="${board}">
                
                <form action="/community/updateNotice" method="POST" name="updateNotice" id="updateNotice" enctype="multipart/form-data">

                    <table class="board-area">
                        <thead>
                            
                            <th>번호</th>
                            <th>제목</th>
                            <th>작성일</th>
                            <th>조회수</th>
                            
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td th:text="*{boardNo}">10</td>
                                <td>
                                    <input type="text" th:value="*{boardTitle}" name="boardTitle" id="boardTitle">
                                </td>
                                <td th:text="*{boardWriteDate}">2024-05-04</td>
                                <td th:text="*{readCount}">300</td>
                            </tr>
                            
                        </tbody>
                        
                    </table>
                

                    <div>

                        <textarea class="content-area" 
                                th:text="*{boardContent}"
                                name="boardContent"
                                id="boardContent">
                        </textarea>

                        <div class="attachmentFileDiv">
                            <div>
                                첨부파일
                            </div>
                            <input th:if="${uploadFile} == null" type="file" name="uploadFile" id="uploadFile">
                           
                            <div th:unless="${uploadFile} == null">
                                <a th:text="${uploadFile.fileOrgName}"></a>
                            </div>
                            
                        </div>

                    </div>

                    <div class="btn-area last-btn-area">
                        <button type="button" class="main-blue" id="backToList">목록</button>
                        <button class="grey-btn" id="updateNotice">수정</button>
                        <button type="button" class="grey-btn" id="deleteNotice">삭제</button>
                    </div>

                    <input type="hidden" th:value="*{boardNo}" name="boardNo">

                </form>

            </div>
              

        </section>

        <th:block th:replace="~{menu/footer}"></th:block>

    </section>

    <script th:inline="javascript">

        const boardNo = /*[[${boardNo}]]*/ "게시물 번호";

    </script>

    <script src="/js/noticeDetail.js"></script>

</body>
</html>