<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
    
    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/board.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>

    <section class="topContainer">

        <th:block th:replace="~{menu/topMenu}"></th:block>

        <section class="container">
            <h2>공지사항 등록</h2>

            <form action="/community/insertNotice" method="POST" name="insertNotice" id="insertNotice">

                <div class="inputForm">
                    <label>제목</label>
                    <input type="text" name="boardTitle" id="boardTitle">
                </div>

                <div class="inputForm">
                    <label>내용</label>
                    <textarea class="content-area" name="boardContent" id="boardContent"></textarea>
                </div>


                <div class="attachmentFileDiv">
                    <div>
                        첨부파일
                    </div>
                    <input type="file">
                </div>

                <br><br>
                
                <div>
                    <div class="btn-area last-btn-area">
                        <button class="main-blue">등록</button>
                        <button type="button" class="grey-btn">취소</button>
                    </div>
                </div>
                
            </form>
        </section>

        <thblock th:replace="~{menu/footer}"></thblock>

    </section>

    <!-- <script th:inline="javascript">
        const codeNo = /*[[${codeNo}]]*/ "코드 번호";
        const memberNo = /*[[${memberNo}]]*/ "회원 번호";
    </script> -->

    <!-- <script src="/js/noticeRegist.js"></script> -->

    
</body>
</html>