<!DOCTYPE html>
<html lang="kr"  xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        

        section.max-container {
            width: 100%;
            align-items: center;
            padding: 0 15px;
        }

        section.max-container > .btn-area {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }

        .insertNotice {

            border: 1px solid black;
            background-color:#00abe8;
            color: white;
            /* font-weight: bold; */
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            height: 31px;
            padding: 0px 15px;
            font-size: 15px;
            margin-top: 3px;

        }

    </style>
    
    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/board.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>
    <section class="topContainer">
        
        <th:block th:replace="~{menu/topMenu}"></th:block>

        <section class="container">
            <h2>공지사항</h2>

            <div class="middle-menu">
                <a th:href="@{/community/noticeList}"><div class="middle-menu-current">공지사항</div></a>
                <a th:href="@{/community/faqList}"><div>자주 묻는 질문</div></a>

            </div>
<br><br>
            <div>
                <table class="board-area">

                    <thead>
                    <tr>
                        <th>번호</th>
                        <th class="boardTableTitle">제목</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    </tr>
                    </thead>

                    <tbody>
                        <th:block th:if="${#lists.isEmpty(boardList)}">
                            <tr>
                                <th colspan="4" style="padding: 15px 0;">게시글이 존재하지 않습니다.</th>
                            </tr>
                        </th:block>

                        <th:block th:unless="${#lists.isEmpty(boardList)}">

                            <tr th:each="board : ${boardList}" th:object="${board}">
                                <td th:text="*{boardNo}">게시글 번호</td>
                                <td>
                                    <a th:href="@{/community/noticeList/{boardNo} (boardNo=*{boardNo}, cp=${pagination.currentPage})}"
                                       th:text="*{boardTitle}">게시글 제목</a>
                                </td>
                                <!-- 작성일 -->
                                <td th:text="*{boardWriteDate}">2023-10-26</td>
                                <!-- 조회수 -->
                                <td th:text="*{readCount}">0</td>
                            </tr>
                        </th:block>
                    </tbody>

                </table>


                <th:block th:unless="${#lists.isEmpty(boardList)}">
                    <div class="pagination-area">

                        <ul class="pagination" th:object="${pagination}">
                            <!-- 첫 페이지로 이동 -->
                            <li><a th:href="@{/community/noticeList(cp=1)}">&lt;&lt;</a></li>

                            <!-- 이전 목록 마지막 번호로 이동 -->
                            <li><a th:href="@{/community/noticeList(cp=*{prevPage})}">&lt;</a></li>

                            <!-- 특정 페이지로 이동 -->

                            <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">

                                <!-- 현재 보고있는 페이지 -->
                                <li th:if="${i} == *{currentPage}">
                                    <a class="current" th:text="${i}">현재페이지</a>
                                </li>

                                <!-- 보고있지 않은 페이지 -->
                                <li th:unless="${i} == *{currentPage}">
                                    <a th:href="@{/community/noticeList(cp=${i})}"
                                       th:text="${i}">이동할 페이지</a>
                                </li>
                            </th:block>

                            <!-- 다음 목록 시작 번호로 이동 -->
                            <li><a th:href="@{/community/noticeList(cp=*{nextPage})}">&gt;</a></li>

                            <!-- 끝 페이지로 이동 -->
                            <li><a th:href="@{/community/noticeList(cp=*{maxPage})}">&gt;&gt;</a></li>
                        </ul>
                    </div>
                </th:block>

            </div>

            <div class="inputForm searchForm">

                <form th:action="@{/announcement/announcementList}" method="get" id="memberSearch" class="inputForm searchForm">

                    <select name="key" id="searchKey">
                        <option value="t">제목</option>
                    </select>
    
                    <input type="text" name="query" id="searchQuery" placeholder="검색어를 입력해주세요.">
    
                    <div class="btn-area">
                        <button class="grey-btn" id="searchBtn">검색</button>
                    </div>

                </form>

            </div>

            <div style="display: flex; justify-content: flex-end;">
                <button class="insertNotice" id="noticeRegist">등록</button>
            </div>

        </section>

        <th:block th:replace="~{menu/footer}"></th:block>

    </section>

    

    <script th:inline="javascript">
        const codeNo = /*[[${codeNo}]]*/ "게시판 코드 번호";

        const noticeRegist = document.querySelector("#noticeRegist");
        
        noticeRegist.addEventListener("click", () => {

            location.href = "/community/noticeRegist?codeNo=" + codeNo;

        })
    </script>

    


</body>
</html>