<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1문의</title>

    <link rel="stylesheet" href="/css/common.css"></link>
</head>
<body>
    <section class="container">
        <h2>1:1문의</h2>

        <div>
            <table class="board-area">
                <thead>
                
                    <th>번호</th>
                    <th>질문내용</th>
                    <th>작성일</th>
                    <th>작성자</th>
                    <th>상태</th>
                
                </thead>

                <tbody>

                    <tr>
                        <td>5</td>
                        <td>질문1</td>
                        <td>2024-05-04</td>
                        <td>유저일</td>
                        <td>답변완료</td>
                    </tr>

                    <tr>
                        <td>4</td>
                        <td>질문2</td>
                        <td>2024-05-04</td>
                        <td>유저이</td>
                        <td class="notPay">답변예정</td>
                    </tr>

                </tbody>
            </table>

            <div class="pagination-area">

                <ul class="pagination">

                    <!-- 첫 페이지로 이동 -->
                    <li><a>&lt;&lt;</a></li>

                    <!-- 이전 목록 마지막 번호로 이동 -->
                    <li><a>&lt;</a></li>

                    <!-- 특정 페이지로 이동 -->
                    <th:block>
                        
                    <!-- 현재 보고있는 페이지 -->
                        <li>
                            <a class="current">1</a>
                        </li>
                        
                        <!-- 보고있지 않은 페이지 -->
                        <li>
                            <a>2</a>
                        </li>

                    </th:block>



                    
                    <!-- 다음 목록 시작 번호로 이동 -->
                    <li><a>&gt;</a></li>

                    <!-- 끝 페이지로 이동 -->
                    <li><a>&gt;&gt;</a></li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>