<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1문의</title>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>
    <link rel="stylesheet" href="/css/mypage.css"></link> <!-- 딤프레이어 -->
</head>
<body>
    <section class="topContainer">
        <th:block th:replace="~{menu/topMenu}"></th:block>

        <section class="container">
            <h2>1:1문의</h2>

            <div>
                <table class="board-area qnaList">
                    <thead>
                    
                        <th>문의 번호</th>
                        <th>문의 제목</th>
                        <th>작성자</th>
                        <th>작성일</th>
                        <th>상태</th>
                    
                    </thead>

                    <tbody>
                        <th:block th:if="${#lists.isEmpty(mtmList)}">
                            <tr>
                                <td colspan="5">게시글이 존재하지 않습니다.</td>
                            </tr>
                        </th:block>

                        <!-- 게시글이 존재할 때 -->
                        <th:block th:unless="${#lists.isEmpty(mtmList)}">
                            <tr th:each="mtm : ${mtmList}" th:object="${mtm}" th:id="|row${mtmStat.index}|">
                                <td th:text="*{mtmNo}">문의 번호</td>
                                <td th:text="*{mtmTitle}">문의 제목</td>
                                <td th:text="*{memberNickname}">작성자</td>
                                <td th:text="*{mtmDate}">작성일</td>
                                <td th:class="*{mtmAnswer eq '답변예정'} ? notPay : ''" th:text="*{mtmAnswer}">상태</td>
                            </tr>
                        </th:block>
                    </tbody>

                </table>

                <th:block th:unless="${#lists.isEmpty(mtmList)}">
                    <div class="pagination-area">

                            <ul class="pagination" th:object="${pagination}">
        
                                <!-- 첫 페이지로 이동 -->
                                <li><a th:href="@{/mtm/qna(cp=1)}">&lt;&lt;</a></li>
        
                                <!-- 이전 목록 마지막 번호로 이동 -->
                                <li><a th:href="@{/mtm/qna(cp=*{prevPage})}">&lt;</a></li>
        
                                <!-- 특정 페이지로 이동 -->
                                <th:block th:each="i : *{#numbers.sequence(startPage, endPage)}">
                                    
                                <!-- 현재 보고있는 페이지 -->
                                    <li th:if="${i} == *{currentPage}">
                                        <a class="current" th:text="${i}">현재 페이지</a>
                                    </li>
                                    
                                    <!-- 보고있지 않은 페이지 -->
                                    <li th:unless="${i} == *{currentPage}">
                                        <a th:text="${i}"
                                           th:href="@{/mtm/qna(cp=${i})}">이동할 페이지</a>
                                    </li>
        
                                </th:block>
                                
                                <!-- 다음 목록 시작 번호로 이동 -->
                                <li><a th:href="@{/mtm/qna(cp=*{nextPage})}">&gt;</a></li>
        
                                <!-- 끝 페이지로 이동 -->
                                <li><a th:href="@{/mtm/qna(cp=*{maxPage})}">&gt;&gt;</a></li>
                            </ul>
                        </div>
                    </div>
                </th:block>
                
        </section>

        <th:block th:replace="~{menu/footer}"></th:block>

    </section>

    <!-- 딤프레이어 (부모창 비활성화) -->
    <div id="popOpen"></div>

    <script src="/js/mtm.js"></script>
</body>
</html>