<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1:1문의 상세</title>

    <link rel="stylesheet" href="/css/common.css"> <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/review.css"> <!-- 후기 CSS -->

    <style>
        /* 1:1문의 상세 */
        .qnaTitle {
            display: flex;
            justify-content: space-between;
        }
        
    </style>
</head>
<body>
    <section class="container" th:object="${mtm}">
        <h2>1:1문의</h2>

        <div class="inputForm">
            <div class="qnaTitle">
                <label>제목</label>
                <div>
                    <label>작성자</label>
                    <label th:text="*{memberNickname}">유저일</label>
                    &emsp;
                    <label>작성일</label>
                    <label th:text="*{mtmDate}">2024-05-04</label>
                </div>
            </div>
            
            <input type="text" th:value="*{mtmTitle}">
        </div>

        <div class="inputForm">
            <label>내용</label>
            <textarea class="content-area" th:text="*{mtmContent}" readonly></textarea>
        </div>

        <!--<form action="mtmAnswer" method="POST">-->
        <div class="inputForm">
            <label>답변</label>
            <textarea class="content-area" th:text="*{mtmAnswer}" name="mtmAnswer" id="mtmAnswer"></textarea>
        </div>
        <div class="btn-area">
            <button class="main-blue" id="mtmSave">등록</button>
        </div>
        <!--</form>-->
    </section>

    <script>
        if(typeof(opener) != "undefined") { /* 수정해야함 ㅜㅜ */
            opener.document.getElementById("popOpen").style.display = "block";
        }

        // 팝업창 닫을 때 딤프레이어 none
        window.addEventListener('beforeunload', function(event) {
            opener.document.getElementById("popOpen").style.display = "none";
        });
    </script>

    <script th:inline="javascript">
        const mtmNo = /*[[${mtm.mtmNo}]]*/ "1:1문의 번호";
    </script>

<script src="/js/mtm/qnaRegi.js"></script>
</body>
</html>