<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후기 상세</title>

    <link rel="stylesheet" href="/css/common.css"> <!-- 공통 CSS -->
    <link rel="stylesheet" href="/css/review.css"> <!-- 후기 CSS -->
</head>
<body>
    <section class="container">
        <h2>[객실1] 후기 상세</h2>
        <div>
            <table class="reviewTable" th:object="${review}">
                <tr>
                    <th>후기 제목 : </th>
                    <td th:text="*{reviewTitle}">정말 좋아요!</td>
                    <th>작성자 : </th>
                    <td th:text="*{memberName}">유저일</td>
                </tr>
                <tr>
                    <th>별점 : </th>
                    <td th:with="reviewGrade=*{reviewGrade}"><th:block th:if="*{reviewGrade} != 0"><th:block th:each="i : *{#numbers.sequence(1,reviewGrade)}"><label class="star_y">★</label></th:block></th:block><th:block th:if="*{reviewGrade} != 5"><th:block th:each="i : *{#numbers.sequence(1,5-reviewGrade)}"><label class="star_n">★</label></th:block></th:block></td>
                    <th>작성일자 : </th>
                    <td th:text="*{writeDate}">2024-05-04</td>
                </tr>
            </table>
        </div>
        <div>
            <textarea class="content-area" th:text="${review.reviewContent}" readonly>후기 상세내용</textarea>
        </div>
        <div class="btn-area">
            <button type="button" class="main-blue" id="backToList">목록</button>
            <th:block th:if="${loginMemberNo} == ${review.memberNo}">
                <button class="grey-btn" th:onclick="|openReviewWritePage('${cp}')|" id="update">수정</button>
                <button type="button" class="grey-btn" id="deleteReview">삭제</button>
            </th:block>
         </div>
        <!--<div class="comment">
            <table class="reviewTable">
                <tr>
                    <th><label>유저삼</label></th>
                </tr>
                <tr>
                    <td><label>안녕하세요!!!</label></td>
                </tr>
                <tr>
                    <td>
                        <div class="wbtn-area">
                            <button>답글</button>
                            <button>수정</button>
                            <button>삭제</button>
                         </div>
                    </td>
                </tr>

                <tr>
                    <th><label class="arrow">유저삼</label></th>
                </tr>
                <tr>
                    <td><label class="arrow">안녕하세요!!!</label></td>
                </tr>
                <tr>
                    <td>
                        <div class="wbtn-area">
                            <button>답글</button>
                            <button>수정</button>
                            <button>삭제</button>
                         </div>
                    </td>
                </tr>
            </table>
            <div class="commentIns">
                <textarea class="content-area"></textarea>
                <div class="btn-area"><button class="main-blue">등록</button></div>
            </div>
        </div>-->
    </section>

    <script th:inline="javascript">
        const reviewNo = /*[[${review.reviewNo}]]*/ "리뷰번호";
        const roomId = /*[[${review.roomId}]]*/ "객실아이디";
    </script>

    <script src="/js/review/reviewDetail.js"></script>

    <script th:inline="javascript">
        const message =  /*[[${message}]]*/ "전달 받은 message";
      
        if(message != null) alert(message);
    </script>
</body>
</html>