<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>객실 예약 목록</title>

    <link rel="stylesheet" href="/css/reserveList.css">
</head>
<body>
    <main>
        <section>
            <input type="text"><br>
           
            <div class="input-container input-container-md">
                <div class="input-group">
                    <input type="text" placeholder="yyyy. mm. dd" class="input-box" id="date-rage-picker">
                    <div class="input-group-tools">
                        <button class="option type">
                            <i class="Licon ico-calender"></i>
                        </button>
                        <button class="option error">
                            <i class="Licon ico-warning"></i>
                        </button>
                        <button class="option success">
                            <i class="Licon ico-check"></i>
                        </button>
                        <button class="clear on">
                            <i class="material-icons">cancel</i>
                        </button>
                    </div>
                </div>
                <p class="status-message">상태메세지는 이곳에 쓰여집니다.</p>
            </div>
            <script>
                $('#date-rage-picker')
                        .daterangepicker(
                                {
                                    format : 'YYYY. MM. DD hh:mm A',
                                    applyButtonClasses : 'btn btn-container btn-secondary btn-sm wth-80',
                                    cancelClass : 'btn btn-container btn-gray btn-sm wth-80',
                                    // locale: moment.locale('ko'),
                                    locale : {
                                        daysOfWeek : moment
                                                .locale('ko').daysOfWeek,
                                        monthNames : moment
                                                .locale('ko').monthNames,
                                        'applyLabel' : '적용',
                                        'cancelLabel' : '취소'
                                    },
                                // timePicker: true
                                });
            </script>
								
            <button type="submit">검색</button>
        </section>

        <section class="content">
            <section class=>
                <img src="">
            </section>
            <section>
                <h1>객실 1</h1>
                <p>객실 제공사항</p>
                <button>캣타워</button>
                <button>에어컨</button>
                <button>장난감</button><br>
                <p>평균 평점</p><br>
                <div class="rate">
                    <span style="width: 50%"></span>
                </div>
                <button onclick="location.href=">후기</button>
            </section>

            <section>
                <h1>100,000원</h1>
                <p>(부가세 포함)</p><br>
                <button onclick="location.href=">예약</button>
            </section>
        </section>

        <section class="content">
            <section>
                <img src="">
            </section>

            <section>
                <h1>객실 2</h1>
                <p>객실 제공사항</p>
                <button>홈캠</button>
                <button>에어컨</button>
                <button>장난감</button>
                <button>먹이제공</button>
                <button>24시간 돌봄</button><br>
                <p>평균 평점</p><br>
                <div class="rate">
                    <span style="width: 50%"></span>
                </div>
                <button onclick="location.href=">후기</button>
            </section>

            <section>
                <h1>100,000원</h1>
                <p>(부가세 포함)</p><br>
                <button onclick="location.href=">예약</button>
            </section>
        </section>
    </main>
    
    <script></script>
</body>
</html>