<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>객실 예약 목록</title>

    <link rel="stylesheet" href="/css/reserveList.css">
</head>
<body>
    <main>
        <section>
            <input type="text"><br>			
            <button type="submit">검색</button>
        </section><br>

        <section class="content">
            <section class=>
                <img src="/images/객실.png">
            </section>
            <section>
                    <h1>객실 1</h1>
                    <p>객실 제공사항</p>
                    <button>캣타워</button>
                    <button>에어컨</button>
                    <button>장난감</button><br>
                    <p>평균 평점</p>
                <div class="rate">
                    <span style="width: 50%"></span>
                </div>
                <button onclick="location.href=">후기</button>
            </section>

            <section>
                <h1>100,000원</h1>
                <p>(부가세 포함)</p><br>
                <button onclick="location.href=">예약</button>
            </section>
        </section><br>

        <section class="content">
            <section>
                <img src="/images/객실.png">
            </section>

            <section>
                <h1>객실 2</h1>
                <p>객실 제공사항</p>
                <button>홈캠</button>
                <button>에어컨</button>
                <button>장난감</button>
                <button>먹이제공</button>
                <button>24시간 돌봄</button><br>
                <p>평균 평점</p>
                <div class="rate">
                    <span style="width: 50%"></span>
                </div>
                <button onclick="location.href=">후기</button>
            </section><span></span>

            <section>
                <h1>100,000원</h1>
                <p>(부가세 포함)</p><br>
                <button onclick="location.href=">예약</button>
            </section>
        </section>
    </main>
    
    <script></script>
</body>
</html>