<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 관리</title>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/review.css"> <!-- 후기 CSS -->
    <link rel="stylesheet" href="/css/main.css"></link>
    <link rel="stylesheet" href="/css/room.css"></link>

</head>
<body>
    <section class="container">    
        <h2>서비스 관리</h2>

        <div class="inputForm">
            <label>이미지</label>
            <div class="inputImg">
                <input type="text">
                <div class="btn-area">
                    <button class="grey-btn">추가</button>
                </div>
            </div>
        </div>

        <div class="inputForm">
            <label>가격</label>
            <input type="text">
         </div>

         <div class="content-area">
            <table class="board-area qnaTable">
    
                <tbody>
    
                    <tr>
                        <td>산책(50,000원)</td>
                        <td class="qa">&times;</td>
                    </tr>
    
                    <tr>
                        <td>캣타워(50,000원)</td>
                        <td class="qa">&times;</td>
                    </tr>
    
                </tbody>
            </table>
         </div>

    </section>
</body>
</html>