<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서비스 관리</title>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/review.css"> <!-- 후기 CSS -->
    <link rel="stylesheet" href="/css/main.css"></link>
    <link rel="stylesheet" href="/css/room.css"></link>

</head>
<body>
    <section class="container">    
        <h2>서비스 관리</h2>

        <div class="inputForm">
            <label>서비스명</label>
            <div class="inputImg">
                <input id="serviceName" name="serviceName" type="text">
                <div class="btn-area">
                    <button id="addBtn" class="grey-btn">추가</button>
                </div>
            </div>
        </div>

        <div class="inputForm">
            <label>가격</label>
            <input id="servicePrice" name="servicePrice" type="text">
         </div>

         <div class="content-area">
            <table class="board-area qnaTable">
    
                <tbody>

                    <th:block th:if="${#lists.isEmpty(serviceInfo)}"> 
                        <tr>
                            <td colspan="2" style="text-align: center !important;">서비스가 존재하지 않습니다.</td>
                        </tr>
                    </th:block>
    
                    <th:block th:unless="${#lists.isEmpty(serviceInfo)}" th:each="service : ${serviceInfo}" th:object="${service}"> 
                        <tr>
                            <td th:text="|*{serviceName}(*{servicePrice}원)|">산책(50,000원)</td>
                            <td class="qa" th:onclick="delBtn([[*{serviceNo}]])">&times;</td>
                        </tr>
                    </th:block>
    
                </tbody>
            </table>
         </div>

    </section>

    <script>
        // 팝업창 닫을 때 딤프레이어 none
        window.addEventListener('beforeunload', function(event) {
            opener.document.getElementById("popOpen").style.display = "none";
        });
    </script>

    <script src="/js/service/serviceMana.js"></script>

</body>
</html>