<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인페이지</title>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>
   <!-- <th:block th:replace="~{menu/topMenu-Login}"></th:block>-->
   <th:block th:replace="~{menu/adminTopMenu}"></th:block>
    <th:block th:replace="~{menu/sideMenu-Login}"></th:block>
    
    <section class="container">
            
             <div>
                <pre>
                    
                    <p>
                    <b>다년간의 경험과 전문관리사</b>    
                    가정집펫시터를 시작으로 오래된 경험과 전문적인 시스템으로 위탁, 호텔 업무에 집중케어 하기위해
                    다른업종을 겸하지 않고 가족처럼 보살펴 위생적이고 쾌적한 휴식공간 속에서 트러블없이 안정적으로
                    위탁생활을 마치고 무사귀환 할 때까지 견주분의 일정을 편안하게 보낼 수 있도록 최선을 다하는 전문
                    반려동물 호텔입니다.
                    </p><br>
                   <!-- <img src="/images/제목 없음2.png"> -->
                </pre>
            </div>
            

    </section>
    <th:block th:replace="~{menu/footer}"></th:block>
</body>
</html>