<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주묻는질문</title>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>
</head>
<body>

    <th:block th:replace="~{menu/topMenu}"></th:block>
    <th:block th:replace="~{menu/sideMenu}"></th:block>

    <section class="container">
        <h2>자주묻는질문</h2>
        
        <table class="board-area qnaTable">
            <thead>
                
                <th></th>
                <th></th>
            
            </thead>

            <tbody>

                <tr onclick="listClickFn(this)">
                    <td class="qa">Q</td>
                    <td>질문 - 객실 가격은 어디서 확인가능한가요?</td>
                </tr>

                <tr class="contentA" style="display: none;">
                    <td class="qa">A</td>
                    <td>답변 - 탑메뉴 객실예약을 클릭하시면 각 객실의 가격과 정보등을 확인하실 수 있습니다.</td>
                </tr>

                <tr onclick="listClickFn(this)">
                    <td class="qa">Q</td>
                    <td>질문 - 회원탈퇴 방법을 알려주세요</td>
                </tr>

                <tr class="contentA" style="display: none;">
                    <td class="qa">A</td>
                    <td>답변 - 마이페이지 사이드바 제일 하단 탈퇴하기 버튼을 통해 진행하실 수 있습니다.</td>
                </tr>

            </tbody>
        </table>
    </section>

    <script>
        
        // 답변 보기 닫기
        function listClickFn(element) {

            // 기존에 활성화된 버튼
            const before = document.getElementsByClassName("active")[0];

            // 자신 이외에 이미 활성화된 버튼이 있을 경우
            if(before && before != element) {

                // 기존에 펼쳐진 내용 접고
                before.nextElementSibling.style.display = 'none'; 

                // 버튼 비활성화
                before.classList.remove("active");
            }

            // 활성화 여부 toggle
            element.classList.toggle("active");

            const content = element.nextElementSibling;

            // 버튼 다음 요소가 펼쳐져 있으면
            if(content.style.display != 'none') {

                // 접기
                content.style.display = 'none';
            } else {

                // 접혀있는 경우 펼치기
                content.style.display = 'contents';
            }
        }
    </script>
    <th:block th:replace="~{menu/footer}"></th:block>
</body>
</html>