<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자주묻는질문</title>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/main.css"></link>
</head>
<body>
    <section class="container">
        <h2>자주묻는질문</h2>
        
        <table class="board-area qnaTable">
            <thead>
                
                <th></th>
                <th></th>
            
            </thead>

            <tbody>

                <tr onclick="listClickFn(this)">
                    <td class="qa">Q</td>
                    <td>질문</td>
                </tr>

                <tr class="contentA" style="display: none;">
                    <td class="qa">A</td>
                    <td>답변</td>
                </tr>

                <tr onclick="listClickFn(this)">
                    <td class="qa">Q</td>
                    <td>질문</td>
                </tr>

                <tr class="contentA" style="display: none;">
                    <td class="qa">A</td>
                    <td>답변</td>
                </tr>

            </tbody>
        </table>
    </section>

    <script src="/js/main.js"></script>
</body>
</html>