<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>오시는 길</title>

    <link rel="stylesheet" href="/css/mainRoute.css">
</head>
<body>
    <nav></nav>

    <main>
        <section>
            <div>
                <img src="/images/지도.png"> 
            </div><br>

            <pre>
                <b><a>지하철역</a>     을지로입구역 3번출구</b><br><br>
                <b><a>버스</a>            103, 9401, ...</b><br><br>
                <b><a>주소</a>            서울 중구 남대문로 120 대일빌딩 2층, 3층</b>
            </pre>
        </section>
    </main>

    <bottom></bottom>
</body>
</html>