<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- 메일은 header 불필요 -->

<body>

    <!-- css / js 파일은 이메일 첨부 불가 -->
    <!-- css 쓰고 싶으면 inline 형식으로 사용 -->
    <!-- <div style="display: flex; flex-direction: column; align-items: center;"> -->
    
        <!-- Contend-ID 로 등록된 이미지 중 logo 를 출력 -->
        <img src="cid:logo" width="200px">

        <h3>
            아래 발급된 임시 비밀번호를 이용하여 로그인 후 
            <br>
            새로운 비밀번호로 변경해주세요.
        </h3>

        <h3 style="text-align: center; border: 3px solid black; color: blue; 
                    width: 400px; padding: 10px;">
            
            <th:block th:text="${randomPw}"></th:block>

        </h3>
    
    </div>
    
</body>
</html>