
/* 첨부파일 부분 */
.attachmentFileDiv {
    display: flex;
    /* justify-content: flex-end; */
    border-bottom: 1px solid #666666;
    width: min-content;
    align-items: center;
}

.attachmentFileDiv div {
    margin: 0 10px;
    width: max-content;
    padding: 10px 0;
}

/* 게시글 내용 */
.board-content-div {
    border: 1px solid #666666;
    padding: 15px;
    width: -webkit-fill-available;
}

/* 게시글 리스트 제목 */
.boardTableTitle {
    width: 60%
}

/* 게시판 중간메뉴 */
.middle-menu {
    width: 60%;
    margin: auto;
    height: 50px;

}
.middle-menu div {
    margin: 0;
    padding: 0;
    border: 1px solid #666666;
    display: inline-block;
    width: 48%;
    height: 100%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
.middle-menu-current {
    font-weight: bold;
    background-color: #00abe8;
    color: white !important;
    letter-spacing: 0 !important;
}


/* 게시판 상세보기 하단 버튼이 오른쪽 정렬일 경우 */
.last-btn-area {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}
.last-btn-area button{
    margin: 0 5px;
}

/* 닫기 버튼 클래스 */
.closeBtn-area {
    text-align: right;
}
.closeBtn-area a {
    font-size: larger;
}