.terms {
    height: 500px;
    overflow-y: auto;
    border: 1px solid black;
    width: 60%;
}

.agree-checkbox {
    margin: 20px 0;
    font-size: 20px;
}

.inputEmail-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.greyBtn {
    height: 25px;
}
/*
.inputEmail-area input {
    width: 330px;
}
*/
.greyBtn {
    font-size: 13px;
    width: 100px;
}

.required {
    color: #00abe8;
    font-weight: bold;
}

.error {
    color: red;
}

.confirm {
    color: green;
}

.textMessage {
    font-size: 13px;
}