
/* 소개 */
img {
    display: block;
    margin: 0 auto;
    width: 900px;
}

b {
    font-size: 28px;
} 

p {
    padding-left: 13%;
    height: 80px;
    font-size: 22px;
}


/* 오시는 길 */

b {
    padding-left: 16%;
    font-size: 22px;
}        

/* 서비스 소개 */

img {
    display: block;
    margin: 0 auto;
    width: 900px;
}

b {
    font-size: 28px;
} 

p {
    padding-left: 13%;
    height: 80px;
    font-size: 22px;
}

