.top-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: white;
  /*width: 100vw;*/
  border-bottom: 1px solid #DFDFDF;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.homelogo {
  width: 130px;
  
}

.navigator a{
  margin: 0 20px;
  font-size: 20px;
}

.navigator a:hover {
  color: #00abe8;
  text-decoration: underline;
  text-underline-position : under;
}

a {
  text-decoration: none;
}


.side-navigator {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  box-shadow: 5px 5px 5px 5px #DFDFDF;
  top: 40%;
  width: 150px;
  left: 85%;
}

.side-navigator a {
  
  font-size: 20px;
  width: 100%;
  
  height: 50px;
  text-align: center;
  line-height: 50px;
}

.side-navigator a:hover {
  background-color: #00aae8;
  color: white;
}

.side-navigator a:first-child {
  background-color: #00aae8;
  color: white;
}


/*
* {
  border: 1px solid black;
}
*/

.myPageMenu {
  display: flex;
  flex-direction: column;
  background-color: #F6F6F6;
  text-align: center;
  align-items: center;
  width: 300px;
  height: 100vh;
  margin-left: -10px;
  border: 1px solid #DFDFDF;
  position: sticky;

}


.myPageMenu a {
  width: 300px;
  border: 1px solid #DFDFDF;
  font-size: 25px;
  height: 70px;
  line-height: 70px;
  cursor: pointer;
}

.myPageMenu a:hover {
  background-color: #00aae8;
  color: white;
}

/*마이페이지 세션*/
section.mypageContainer {
  display: flex;
  flex-direction: row;
}