<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.pet.member.model.mapper.MemberMapper">
	
	<!-- 멤버 수 조회 -->
	<select id="getListCount">
		SELECT COUNT(*) FROM "MEMBER"
		WHERE MEMBER_DEL_FL = 'N'
	</select>
	
	
	<!-- 회원 목록 조회  -->
	<select id="selectMemberList">
		SELECT MEMBER_NO, MEMBER_NAME, 
			   TO_CHAR (ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE, MEMBER_DEL_FL, MEMBER_NICKNAME
		FROM "MEMBER"
		ORDER BY MEMBER_NO
	</select>
	
	
	<!-- 검색한 회원 수 조회 -->
	<select id="getSearchCount">
		SELECT COUNT(*) FROM "MEMBER"
		
		<choose>
		
			<!-- 이름 검색 (key=n) -->
			<when test='key=="n"'>
				WHERE MEMBER_NAME LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 탈퇴여부 회원 검색 (key=w) -->
			<when test='key=="w"'>
				WHERE MEMBER_DEL_FL = #{query}
			</when>
			
			<!-- 닉네임 검색 (key=nn) -->
			<when test='key=="nn"'>
				WHERE MEMBER_NICKNAME LIKE '%' || #{query} || '%'
			</when>
		
		</choose>
		
	</select>
	
	
	<!-- 검색한 회원 목록 조회 -->
	<select id="selectSearchList">
		SELECT MEMBER_NO, MEMBER_NAME, 
			   TO_CHAR (ENROLL_DATE, 'YYYY-MM-DD') AS ENROLL_DATE, MEMBER_DEL_FL, MEMBER_NICKNAME
		FROM "MEMBER"
		
		<choose>
		
			<!-- 이름 검색 (key=n) -->
			<when test='key=="n"'>
				WHERE MEMBER_NAME LIKE '%' || #{query} || '%'
			</when>
			
			<!-- 탈퇴여부 회원 검색 (key=w) -->
			<when test='key=="w"'>
				WHERE MEMBER_DEL_FL = #{query}
			</when>
			
			<!-- 닉네임 검색 (key=nn) -->
			<when test='key=="nn"'>
				WHERE MEMBER_NICKNAME LIKE '%' || #{query} || '%'
			</when>
		
		</choose>
		
		ORDER BY MEMBER_NO
	</select>
	
	
	<!-- 회원 상세 조회 -->
	<select id="selectMember">
		SELECT MEMBER_EMAIL, MEMBER_NAME, MEMBER_NICKNAME, MEMBER_TEL, ENROLL_DATE, MEMBER_DEL_FL
				MEMBER_ADDR, RESERVE_NO, RESERVE_DATE
		FROM "MEMBER" 
		JOIN RESERVE USING (MEMBER_NO)
		JOIN REVIEW  USING (MEMBER_NO)
		WHERE MEMBER_NO = #{memberNo}
	</select>
</mapper>
























