<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.pet.mypage.model.mapper.MypageMapper">
 	
 	<!-- *****************************************  1:1문의  **************************************** -->
 	
 	<!-- 1:1문의 등록 -->
 	<insert id="mtmInsert" useGeneratedKeys="true" parameterType="Mtm">
 		<selectKey order="BEFORE" resultType="_int" keyProperty="mtmNo">
 			SELECT SEQ_MTM_NO.NEXTVAL FROM DUAL
 		</selectKey>
 		
 		INSERT INTO MTM
 		VALUES(
 			 #{mtmNo}
			,#{mtmTitle}
			,#{mtmContent}
			,DEFAULT
			,NULL
			,#{memberNo}
			,NULL
			,NULL
 		)
 	</insert>
 	
 	<!-- 1:1문의 Count -->
 	<select id="getListCount">
 		SELECT 
			COUNT(*)
		FROM MTM 
		WHERE MEMBER_NO = ${memberNo}
 	</select>
 	
 	<!-- 1:1문의 조회 -->
 	<select id="selectMtmList">
 		SELECT 
			 MTM_NO 
			,MTM_TITLE 
			,MEMBER_NICKNAME  
			,<![CDATA[
			 CASE 
			 	WHEN SYSDATE - MTM_DATE < 1 / 24 / 60
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 * 60 * 60 ) || '초 전'
			 	WHEN SYSDATE - MTM_DATE < 1 / 24
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 * 60 ) || '분 전'
			 	WHEN SYSDATE - MTM_DATE < 1
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 ) || '시간 전'
			 	ELSE TO_CHAR( MTM_DATE, 'YYYY-MM-DD' )
			 END MTM_DATE
			]]>
			,DECODE(MTM_ANSWER, NULL, '답변예정', '답변완료') MTM_ANSWER
		FROM MTM
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE MEMBER_NO = ${memberNo}
		ORDER BY MTM_NO DESC
 	</select>
 	
 	<!-- 자주묻는질문 조회 -->
 	<select id="selectQnaList">
 		SELECT 
			 BOARD_TITLE
			,BOARD_CONTENT 
		FROM BOARD
		WHERE CODE_NO = 'QNA'
 	</select>
 	
 	<!-- 1:1문의 상세조회 -->
 	<select id="selectMtmDetail">
 		SELECT 
			 MTM_TITLE 
			,<![CDATA[
			 CASE 
			 	WHEN SYSDATE - MTM_DATE < 1 / 24 / 60
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 * 60 * 60 ) || '초 전'
			 	WHEN SYSDATE - MTM_DATE < 1 / 24
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 * 60 ) || '분 전'
			 	WHEN SYSDATE - MTM_DATE < 1
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 ) || '시간 전'
			 	ELSE TO_CHAR( MTM_DATE, 'YYYY-MM-DD' )
			 END MTM_DATE
			]]>
			,MTM_CONTENT 
			,MTM_ANSWER 
			,MTM_NO 
			,MEMBER_NICKNAME 
		FROM MTM
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MTM_NO = ${mtmNo}
 	</select>
 	
 	<!-- ******************************************************************************************** -->
</mapper>
