<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.pet.mypage.model.mapper.MypageMapper">
 	
 	<!-- *****************************************  1:1문의  **************************************** -->
 	
 	<!-- 1:1문의 등록 -->
 	<insert id="mtmInsert" useGeneratedKeys="true" parameterType="Mtm">
 		<selectKey order="BEFORE" resultType="_int" keyProperty="mtmNo">
 			SELECT SEQ_MTM_NO.NEXTVAL FROM DUAL
 		</selectKey>
 		
 		INSERT INTO MTM
 		VALUES(
 			 #{mtmNo}
			,#{mtmTitle}
			,#{mtmContent}
			,DEFAULT
			,NULL
			,#{memberNo}
			,NULL
			,NULL
 		)
 	</insert>
 	
 	<!-- 1:1문의 Count -->
 	<select id="getListCount">
 		SELECT 
			COUNT(*)
		FROM MTM 
		WHERE MEMBER_NO = ${memberNo}
 	</select>
 	
 	<!-- 1:1문의 조회 -->
 	<select id="selectMtmList">
 		SELECT 
			 MTM_NO 
			,MTM_TITLE 
			,MEMBER_NICKNAME  
			,<![CDATA[
			 CASE 
			 	WHEN SYSDATE - MTM_DATE < 1 / 24 / 60
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 * 60 * 60 ) || '초 전'
			 	WHEN SYSDATE - MTM_DATE < 1 / 24
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 * 60 ) || '분 전'
			 	WHEN SYSDATE - MTM_DATE < 1
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 ) || '시간 전'
			 	ELSE TO_CHAR( MTM_DATE, 'YYYY-MM-DD' )
			 END MTM_DATE
			]]>
			,DECODE(MTM_ANSWER, NULL, '답변예정', '답변완료') MTM_ANSWER
		FROM MTM
		JOIN "MEMBER" USING(MEMBER_NO)
		WHERE MEMBER_NO = ${memberNo}
		ORDER BY MTM_NO DESC
 	</select>
 	
 	<!-- 자주묻는질문 조회 -->
 	<select id="selectQnaList">
 		SELECT 
			 BOARD_TITLE
			,BOARD_CONTENT 
		FROM BOARD
		WHERE CODE_NO = 'QNA'
		AND BOARD_DEL_FL = 'N'
 	</select>
 	
 	<!-- 1:1문의 상세조회 -->
 	<select id="selectMtmDetail">
 		SELECT 
			 MTM_TITLE 
			,<![CDATA[
			 CASE 
			 	WHEN SYSDATE - MTM_DATE < 1 / 24 / 60
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 * 60 * 60 ) || '초 전'
			 	WHEN SYSDATE - MTM_DATE < 1 / 24
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 * 60 ) || '분 전'
			 	WHEN SYSDATE - MTM_DATE < 1
			 	THEN FLOOR( (SYSDATE - MTM_DATE) * 24 ) || '시간 전'
			 	ELSE TO_CHAR( MTM_DATE, 'YYYY-MM-DD' )
			 END MTM_DATE
			]]>
			,MTM_CONTENT 
			,MTM_ANSWER 
			,MTM_NO 
			,MEMBER_NICKNAME 
		FROM MTM
		JOIN MEMBER USING(MEMBER_NO)
		WHERE MTM_NO = ${mtmNo}
 	</select>
 	
 	<!-- 1:1문의 수정 -->
 	<update id="mtmUpdate">
 		UPDATE MTM SET
			 MTM_TITLE = #{mtmTitle}
			,MTM_CONTENT = #{mtmContent}
			,UPDATE_DATE = SYSDATE
 		WHERE MTM_NO = #{mtmNo}
 	</update>
 	
 	<!-- 1:1문의 삭제 -->
 	<delete id="mtmDelete">
 		DELETE FROM MTM
 		WHERE MTM_NO = #{mtmNo}
 	</delete>
 	
 	<!-- ******************************************************************************************** -->
 	
 	<!-- 회원 정보 수정 -->
 	<update id="memberUpdate">
 		UPDATE "MEMBER" SET
 		MEMBER_NAME = #{memberName},
 		MEMBER_NICKNAME = #{memberNickname},
 		MEMBER_TEL = #{memberTel},
 		MEMBER_ADDR = #{memberAddr}
 		WHERE MEMBER_NO = #{memberNo}
 	</update>
 	
 	<!-- 로그인한 회원 비밀번호 조회 -->
 	<select id="selectPw">
 		SELECT MEMBER_PASSWORD FROM "MEMBER"
 		WHERE MEMBER_NO = #{memberNo}
 	</select>
 	
 	
 	<!-- 비밀번호 변경 -->
 	<update id="pwUpdate">
 		UPDATE "MEMBER" SET
 		MEMBER_PASSWORD = #{encPw}
 		WHERE MEMBER_NO = #{memberNo}
 	</update>
 	
 	
 	<!-- 회원 탈퇴 -->
 	<update id="withdrawal">
 		UPDATE "MEMBER" SET
 		MEMBER_DEL_FL = 'Y'
 		WHERE MEMBER_NO = #{memberNo}
 	</update>
 	
 	<select id="getReserveListCount">
 		SELECT 
			COUNT(*)
		FROM RESERVE 
		WHERE MEMBER_NO = ${memberNo}
 	</select>
 	
 	<select id="selectReserveList">
 		SELECT 
			 RESERVE_NO 
			,ROOM_ID 
			,ROOM_NAME
			,TO_CHAR( RESERVE_START, 'YYYY-MM-DD' ) RESERVE_START 
			,TO_CHAR( RESERVE_END, 'YYYY-MM-DD' ) RESERVE_END 
			,RESERVE_PRICE 
			,<![CDATA[
			(CASE
					WHEN RESERVE_DEL_FL = 'Y' THEN '취소'
					WHEN SYSDATE < RESERVE_END AND RESERVE_PAYMENT = 'Y' THEN '결제완료'
					WHEN SYSDATE >= RESERVE_END AND RESERVE_PAYMENT = 'N' THEN '취소(미결제)'
					WHEN RESERVE_PAYMENT = 'N' THEN '미결제'
					WHEN SYSDATE >= RESERVE_END THEN '이용완료'
			END
			) STATUS
			,DECODE( (SELECT COUNT(*) FROM SERVICE_RESERVE SR WHERE SR.RESERVE_NO = R.RESERVE_NO), 0,
				'미신청',
				(SELECT 
					SUBSTR (
						XMLAGG(
							XMLELEMENT(COL, ',', SERVICE_NAME) ORDER BY SERVICE_NO).EXTRACT('//text()'
						).GETSTRINGVAL()
					, 2) AS SERVICE_NAME
				FROM SERVICE_RESERVE SR
				JOIN SERVICE USING(SERVICE_NO)
				WHERE SR.RESERVE_NO = R.RESERVE_NO)
			 ) SERVICE_NAME_LIST
			 ]]>
			 ,MEMBER_NO
		FROM RESERVE R
		JOIN ROOM USING(ROOM_ID)
		WHERE MEMBER_NO = ${memberNo}
		ORDER BY RESERVE_NO DESC
 	</select>
 	
</mapper>




















