<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.pet.reserve.model.mapper.ReviewMapper">
 	
 	<!-- 삭제되지 않은 게시글 수 -->
 	<select id="getListCount">
 		SELECT COUNT(*) FROM REVIEW
		WHERE REVIEW_DEL_FL = 'N' 
		AND ROOM_ID = #{roomId}
 	</select>

 	<select id="getMaxNoForInsert">
 		SELECT MAX(REVIEW_NO) FROM REVIEW
 	</select>	
 	
 	<select id="selectReviewList">
 		SELECT 
			REVIEW_NO, REVIEW_TITLE, REVIEW_GRADE, MEMBER_NO, ROOM_ID
			,<![CDATA[
			CASE 
				WHEN SYSDATE - WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60 * 60) || '초 전'
				WHEN SYSDATE - WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60) || '분 전'
				WHEN SYSDATE - WRITE_DATE < 1
				THEN FLOOR((SYSDATE -WRITE_DATE) * 24) || '시간 전'
				ELSE TO_CHAR(WRITE_DATE, 'YYYY-MM-DD')
				END WRITE_DATE]]>
				, MEMBER_NAME , REVIEW_DEL_FL, ROOM_ID
		FROM REVIEW
		JOIN MEMBER USING(MEMBER_NO)
		WHERE REVIEW_DEL_FL = 'N' 
		AND ROOM_ID = #{roomId}
 	</select>
 	
 	<select id="selectReviewDetail">
 		SELECT 
 			REVIEW_NO, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_GRADE, ROOM_ID, MEMBER_NO,
 			<![CDATA[
			CASE 
				WHEN SYSDATE - WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60 * 60) || '초 전'
				WHEN SYSDATE - WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60) || '분 전'
				WHEN SYSDATE - WRITE_DATE < 1
				THEN FLOOR((SYSDATE -WRITE_DATE) * 24) || '시간 전'
				ELSE TO_CHAR(WRITE_DATE, 'YYYY-MM-DD')
				END WRITE_DATE]]>, MEMBER_NAME
 		FROM REVIEW
 		JOIN MEMBER USING(MEMBER_NO)
		WHERE REVIEW_NO = #{reviewNo}
 	</select>
 	
 	<update id="reviewUpdate">
 		UPDATE REVIEW SET 
 		REVIEW_TITLE = #{reviewTitle}, 
 		REVIEW_CONTENT = #{reviewContent}, 
 		REVIEW_GRADE = #{reviewGrade}
 		WHERE REVIEW_NO = #{reviewNo}
 		AND REVIEW_DEL_FL = 'N'
 	</update>

 	<insert id="reviewInsert">
 		INSERT INTO REVIEW (REVIEW_NO, REVIEW_TITLE, REVIEW_CONTENT,
		REVIEW_GRADE, MEMBER_NO, ROOM_ID)
		values(SEQ_REVIEW_NO.NEXTVAL, #{reviewTitle}, #{reviewContent}, #{reviewGrade}, #{memberNo}, #{roomId})
 	</insert>	
 	
 	<update id="ReviewDelete">
 		UPDATE REVIEW SET
 		REVIEW_DEL_FL = 'Y'
 		WHERE REVIEW_NO = #{reviewNo}
 	</update>
 	
</mapper>
