<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.pet.reserve.model.mapper.ReviewMapper">
 	
 	<!-- 삭제되지 않은 게시글 수 -->
 	<select id="getListCount">
 		SELECT COUNT(*) FROM REVIEW
		WHERE REVIEW_DEL_FL = 'N' 
		AND ROOM_ID = #{roomId}
 	</select>
 	
 	<select id="selectReviewList">
 		SELECT 
			REVIEW_NO, REVIEW_TITLE, REVIEW_GRADE, MEMBER_NO
			,<![CDATA[
			CASE 
				WHEN SYSDATE - WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60 * 60) || '초 전'
				WHEN SYSDATE - WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60) || '분 전'
				WHEN SYSDATE - WRITE_DATE < 1
				THEN FLOOR((SYSDATE -WRITE_DATE) * 24) || '시간 전'
				ELSE TO_CHAR(WRITE_DATE, 'YYYY-MM-DD')
				END WRITE_DATE]]>
				, MEMBER_NAME , REVIEW_DEL_FL, ROOM_ID
		FROM REVIEW
		JOIN MEMBER USING(MEMBER_NO)
		WHERE REVIEW_DEL_FL = 'N' 
		AND ROOM_ID = #{roomId}
 	</select>
 	
 	<select id="selectReviewDetail">
 		SELECT 
 			REVIEW_NO, REVIEW_TITLE, REVIEW_CONTENT, REVIEW_GRADE 
 			,<![CDATA[
			CASE 
				WHEN SYSDATE - WRITE_DATE < 1 / 24 / 60
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60 * 60) || '초 전'
				WHEN SYSDATE - WRITE_DATE < 1 / 24
				THEN FLOOR((SYSDATE - WRITE_DATE) * 24 * 60) || '분 전'
				WHEN SYSDATE - WRITE_DATE < 1
				THEN FLOOR((SYSDATE -WRITE_DATE) * 24) || '시간 전'
				ELSE TO_CHAR(WRITE_DATE, 'YYYY-MM-DD')
				END WRITE_DATE]]>, MEMBER_NAME
 		FROM REVIEW
 		JOIN MEMBER USING(MEMBER_NO)
		WHERE REVIEW_NO = #{reviewNo}
 	</select>
</mapper>
