<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.kh.pet.room.model.mapper.ServiceInfoMapper">
 	
 	<!-- 서비스 조회 -->
 	<select id="selectService">
 		SELECT 
			 SERVICE_NO
			,SERVICE_NAME
			,SERVICE_PRICE 
			,SERVICE_DETAIL 
		FROM SERVICE
		ORDER BY SERVICE_NO
 	</select>
</mapper>
