<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <style>
        

        section.max-container {
            width: 100%;
            align-items: center;
            padding: 0 15px;
        }

        section.max-container > .btn-area {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
        }

    </style>
    
    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>

    <section class="topContainer">

        <th:block th:replace="~{menu/topMenu}"></th:block>
        <th:block th:replace="~{menu/sideMenu}"></th:block>

        <section class="container">
            <h2>공지사항</h2>

            <div>
                <table class="board-area">
                    <thead>
                    
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    
                    </thead>

                    <tbody>

                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>제목제목제목제목</td>
                            <td>2024-05-04</td>
                            <td>300</td>
                        </tr>

                    </tbody>
                </table>

                <div class="pagination-area">

                    <ul class="pagination">
    
                        <!-- 첫 페이지로 이동 -->
                        <li><a>&lt;&lt;</a></li>
    
                        <!-- 이전 목록 마지막 번호로 이동 -->
                        <li><a>&lt;</a></li>
    
                        <!-- 특정 페이지로 이동 -->
                        <th:block>
                            
                        <!-- 현재 보고있는 페이지 -->
                            <li>
                                <a class="current">1</a>
                            </li>
                            
                            <!-- 보고있지 않은 페이지 -->
                            <li>
                                <a>2</a>
                            </li>
    
                        </th:block>
    
    
    
                        
                        <!-- 다음 목록 시작 번호로 이동 -->
                        <li><a>&gt;</a></li>
    
                        <!-- 끝 페이지로 이동 -->
                        <li><a>&gt;&gt;</a></li>
                    </ul>
                </div>
            </div>

            <div class="inputForm searchForm">
                <select>
                    <option>객실</option>
                    <option>예약일</option>
                    <option>리뷰여부</option>
                </select>
                <input>
                <div class="btn-area">
                    <button class="grey-btn">검색</button>
                </div>
            </div>
              

        </section>

        <th:block th:replace="~{menu/footer}"></th:block>

    </section>

    
</body>
</html>