<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/board.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>

</head>
<body>

    <section class="topContainer">

        <th:block th:replace="~{menu/topMenu}"></th:block>
        <th:block th:replace="~{menu/sideMenu}"></th:block>

        <section class="container">
            <h2>공지사항</h2>

            <div>
                <table class="board-area">
                    <thead>
                    
                        <th>번호</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>조회수</th>
                    
                    </thead>
                    <tbody>

                        <tr>
                            <td th:text="${board.boardNo}">10</td>
                            <td th:text="${board.boardTitle}">제목제목제목제목</td>
                            <td th:text="${board.boardWriteDate}">2024-05-04</td>
                            <td th:text="${board.readCount}">300</td>
                        </tr>

                    </tbody>

                </table>

                <div>

                    <div class="content-area" th:text="${board.boardContent}"></div>

                    <div class="attachmentFileDiv">
                        <div>
                            첨부파일
                        </div>
                        <input type="file" name="uploadFile" id="uploadFile">
                    </div>


                </div>

                <div class="btn-area last-btn-area">
                    
                    <button class="main-blue" id="backToList">목록</button>
                    
                </div>
            </div>
              
        </section>

        <th:block th:replace="~{menu/footer}"></th:block>

    </section>

    <script>

        const backToList = document.querySelector("#backToList");

        backToList.addEventListener("click", () => {
            window.location.href = "http://localhost/announcement/announcementList"
        })

    </script>

    
</body>
</html>