<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>객실등록</title>
    
    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>
    <link rel="stylesheet" href="/css/reserve.css">

</head>
<body>

    <section class="topContainer">

        <th:block th:replace="~{menu/topMenu}"></th:block>
        
        <section class="container">

            <form  action="insertRoomRegist" method="post" id="roomRegist" class="max-container" enctype="multipart/form-data">
                <h2>객실 등록</h2>
    
                <div class="inputForm">
                    <label>객실명</label>
                    <input name="roomName" type="text">
                </div>
    
                <div class="inputForm">
                    <label>객실 상세정보</label>
                    <textarea name="roomInfo" class="content-area"></textarea>
                </div>
    
                <div class="inputForm">
                    <label>객실 이미지</label><br>

                    <div class="btn-area">
                        <label class="grey-btn roomAppend">객실 이미지 추가</label>
                        <!--<input type="file" name="file" id="file-input" multiple>-->
                    </div>

                    <div class="img-box">
                        <!--
                         <div class="boardImg">
                                <label for="img1">
                                    <img class="preview" src="">
                                </label>
                                <input type="file" name="images" class="inputImage" id="img1" accept="image/*">
                                <span class="delete-image">&times;</span>
                            </div>
                        -->
                    </div>

                    
    
                    <!--<label for="file">
                        <div class="btn-upload">첨부파일</div>
                      </label>
                      <input type="file" name="file" id="file" multiple>
                    
                    <div>
                        <div class="box thumbChecked">
                            <img class="content" src="https://blog.kakaocdn.net/dn/bthiGT/btqGCozmGwh/xi6gcKB005xGZSODov4Pd1/img.png" alt="images"/>                        
                            <a style="position: absolute; right: 0%; font-size: 25px; font-weight: bold;">&times;</a>
                        </div>
                        <div class="box">
                            <img class="content" src="https://blog.kakaocdn.net/dn/bthiGT/btqGCozmGwh/xi6gcKB005xGZSODov4Pd1/img.png" alt="images"/>                        
                            <a style="position: absolute; right: 0%; font-size: 25px; font-weight: bold;">&times;</a>
                        </div>
                        <div class="box">
                            <img class="content" src="https://blog.kakaocdn.net/dn/bthiGT/btqGCozmGwh/xi6gcKB005xGZSODov4Pd1/img.png" alt="images"/>                        
                            <a style="position: absolute; right: 0%; font-size: 25px; font-weight: bold;">&times;</a>
                        </div>
                        <div class="box">
                            <img class="content" src="https://blog.kakaocdn.net/dn/bthiGT/btqGCozmGwh/xi6gcKB005xGZSODov4Pd1/img.png" alt="images"/>                        
                            <a style="position: absolute; right: 0%; font-size: 25px; font-weight: bold;">&times;</a>
                        </div>
                        <div class="box">
                            <img class="content" src="https://blog.kakaocdn.net/dn/bthiGT/btqGCozmGwh/xi6gcKB005xGZSODov4Pd1/img.png" alt="images"/>                        
                            <a style="position: absolute; right: 0%; font-size: 25px; font-weight: bold;">&times;</a>
                        </div>
    
                    </div>-->
                    
    
                </div>
    
                <div class="inputForm reserveRegistDiv">
                    <label>객실 제공사항</label><br>
                    <div id="serviceDiv" class="serviceDiv">
                        <div th:each="code : ${codeList}" th:object="${code}">
                            <input type="checkbox" name="roomInfoList" style="height: 15px;" 
                                th:value="*{codeNo}"/>
                            <label th:text="*{codeName}">캣타워</label>
                        </div>
                    </div>
                </div>
    
                <div class="inputForm">
                    <label>가격</label>
                    <input name="roomPrice" type="number">
                </div>
     
    
                 <div>
                    <div class="btn-area" style="display: flex; justify-content: center;">
                        <button class="main-blue">등록</button>
                        <button id="cancelBtn" type="button" style="background-color: #666666; margin-left: 5px;">취소</button>
                    </div>
                </div>
            </form>
    
        </section>

        <th:block th:replace="~{menu/footer}"></th:block> <!-- 풋터 -->
    </section>

    
    <script src="/js/room/roomRegist.js"></script>
    
</body>
</html>