<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>
    <link rel="stylesheet" href="/css/reserve.css"></link>
    <link rel="stylesheet" href="/css/review.css"> <!-- 후기 CSS -->
    <link rel="stylesheet" href="/css/mypage.css"></link> <!-- 딤프레이어 (부모창 비활성화) -->

    <script src="https://kit.fontawesome.com/fb582154d7.js" crossorigin="anonymous"></script><!-- 폰트어썸 -->

</head>
<body>

    <section class="topContainer">
        <th:block th:replace="~{menu/topMenu}"></th:block>

        <section class="container">

            <!-- 검색창 영역 -->
            <form action="roomList" method="get" class="search-container">
                <div class="search div-shadow"> 
                    <!-- <label style="position: relative; display: flex;"></label> -->
                    <div class="searchInput inputForm">
                        <button class="fa-solid fa-magnifying-glass fa-lg"></button>
                        <input class="div-border" name="inputRoomNm"/>
                    </div>
                </div>

                <div class="btn-area search-btn">
                    <button class="main-blue" id="searchBtn">검색</button> <!-- 검색 버튼 -->
                </div>
            </form>

            <section class="">

                <div class="btn-area" style="margin-top: 10%;">
                    <button id="serviceRegist" class="main-blue">서비스 관리</button>
                    <form action="roomRegist">
                        <button class="grey-btn">객실 등록</button>
                    </form>
                </div>

                <div th:each="reserve : ${reserveList}" class="content div-shadow div-border" th:object="${reserve}">
                    <div class="roomImg">
                        <img th:src="*{fileRename}">
                    </div>

                    <div class="roomList2" >
                        <h2 th:text="*{roomName}">객실 1</h2>

                        <p>객실 제공사항</p>
                        <div class="badge">
                            <th:block th:each="code : *{codeName}">
                                <span th:text="${code}">캣타워</span>
                            </th:block>
                        </div>
                                
                        <p>평균 평점</p>

                        <div class="grade-content">
                            <div th:with="reviewGrade=*{reviewGrade}"><th:block th:if="*{reviewGrade} != 0"><th:block th:each="i : *{#numbers.sequence(1,reviewGrade)}"><label class="star_y">★</label></th:block></th:block><th:block th:if="*{reviewGrade} != 5"><th:block th:each="i : *{#numbers.sequence(1,5-reviewGrade)}"><label class="star_n">★</label></th:block></th:block></div>
                        
                            <div class="btn-area">
                                <button class="grey-btn">후기</button>
                            </div>
                        </div>
                            
                    </div>

                    <div class="roomList3"> <!--style="width: 24%;"-->
                        <div class="price-content">
                            <h2 th:text="*{roomPrice}">100,000원</h2>
                            <label>(부가세 포함)</label>
                        </div>

                        <div class="btn-area">
                            <form th:action="@{/room/roomUpdate/{roomId} (roomId=*{roomId})}">
                                <button class="main-blue">수정</button>
                            </form>
                            
                            <button class="grey-btn" th:onclick="delBtn([[*{roomId}]])">삭제</button>
                        </div>
                    </div>
                </div>

            </section>
        </section>

        <th:block th:replace="~{menu/footer}"></th:block> <!-- 풋터 -->

    </section>

    <!-- 딤프레이어 (부모창 비활성화) -->
    <div id="popOpen"></div>

    <script src="/js/room/roomList.js"></script>
    
</body>
</html>