<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>객실수정</title>
    
    <link rel="stylesheet" href="/css/common.css"></link>
    <link rel="stylesheet" href="/css/menu.css"></link>
    <link rel="stylesheet" href="/css/reserve.css">

</head>
<body>

    <section class="topContainer">

        <th:block th:replace="~{menu/topMenu}"></th:block>
        
        <section class="container">

            <form th:action="@{*{roomNo}}" method="post" class="max-container" enctype="multipart/form-data">
                <h2>객실 수정</h2>
    
                <th:block th:object="${room}">
                    <div class="inputForm">
                        <label>객실명</label>
                        <input name="roomName" th:value="*{roomName}" type="text">
                    </div>
        
                    <div class="inputForm">
                        <label>객실 상세정보</label>
                        <textarea name="roomInfo" th:text="*{roomInfo}" class="content-area"></textarea>
                    </div>
        
                    <div class="inputForm">
                        <label>객실 이미지</label><br>
    
                        <div class="btn-area">
                            <label class="grey-btn roomAppend">객실 이미지 추가</label>
                            <!--<input type="file" name="file" id="file-input" multiple>-->
                        </div>
    
                        <div class="img-box">
                            <th:block th:each="img, imgStat : *{imageList}" th:object="${img}">
                                <div class="boardImg"  th:id="|board${imgStat.count-1}|"> 
                                    <input type="hidden" th:id="|fileNo${imgStat.count-1}|"  th:value="*{fileNo}">
                                    <input type="hidden" th:id="|fileName${imgStat.count-1}|"  th:value="*{fileRename}">
                                    <label class="imgLabel" th:id="|label${imgStat.count-1}|" th:for="|img${imgStat.count-1}|"> 
                                        <img class="preview" th:src="|*{filePath}*{fileRename}|">
                                        <input type="file" name="images" class="inputImage"  accept="image/*" th:id="|img${imgStat.count-1}|"> 
                                    </label>
                                    
                                    <label th:id="|radio${imgStat.count-1}|" th:for="|thumnail${imgStat.count-1}|"> 
                                        <input type="radio" name="thumnailYn" th:id="|thumnail${imgStat.count-1}|" th:value="${imgStat.count-1}" th:checked="*{thumbnail eq 'Y'}"> 
                                        대표이미지
                                    </label>
                                    <span class="delete-image" th:id="|del${imgStat.count-1}|">&times;</span> 
                                </div>
                            </th:block>
                             
                            
                        </div>
        
                    </div>
        
                    <div class="inputForm reserveRegistDiv">
                        <label>객실 제공사항</label><br>
                        <div id="serviceDiv" class="serviceDiv">
                            
                            <div th:each="code : ${codeList}" th:object="${code}">
                                    <input type="checkbox" name="roomInfoList" style="height: 15px;" 
                                th:value="*{codeNo}" th:checked="*{checkYn eq 'Y'}"/> 
                                    
                                <label th:text="*{codeName}">캣타워</label>
                            </div>
                        
                        </div>
                    </div>
        
                    <div class="inputForm">
                        <label>가격</label>
                        <input name="roomPrice" th:value="*{roomPrice}" type="number">
                    </div>
         
        
                     <div>
                        <div class="btn-area" style="display: flex; justify-content: center;">
                            <button id="saveBtn" class="main-blue">등록</button>
                            <button id="cancelBtn" type="button" style="background-color: #666666; margin-left: 5px;">취소</button>
                        </div>
                    </div>
                </th:block>

                <!-- 기존 이미지가 있다면 삭제된 이미지의 순서를 기록 -->
                <input type="hidden" name="deleteOrder" value="">
                <input type="hidden" name="upList" value="">
                <input type="hidden" name="orderList" value="">
                                           
                <!-- 수정 성공 시 주소(쿼리스트림) 유지 용도 -->
                <input type="hidden" name="querystring">
                
            </form>
    
        </section>

        <th:block th:replace="~{menu/footer}"></th:block> <!-- 풋터 -->
    </section>

    <!-- 이미지 미리보기 설정 -->
    <script th:inline="javascript">
        const imageList = /*[[${room.imageList}]]*/ [];
        const previewList1 = document.querySelectorAll('img.preview');

        const orderList = [];
        const upList = [];

        for(let img of imageList) {
            //previewList1[img.fileNo].src = img.imgPath + img.imgRename;

            // 기존 이미지 넣기
            orderList.push(img.fileNo);
        }

        document.querySelector("[name='orderList']").value = Array.from(orderList);

       
    </script>

    
    <script src="/js/room/roomUpdate.js"></script>
    
</body>
</html>